@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg'), rgba(25, 161, 174, 1);
  background-repeat: no-repeat;
  /* background-size: 10% 5%; */
  /* background-position: 10px 20px, top right; */
  background-position: -18rem -25rem, 50rem 22rem;
}
